# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11.6-alpine
        env:
          POSTGRES_DB: arext_test
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: >-
          --health-cmd "pg_isready -d arext_test -U postgres -p 5432"
          --health-interval 10s 
          --health-timeout 5s 
          --health-retries 5
      mariadb:
        image: mariadb:latest
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_USERNAME: travis
          MYSQL_PASSWORD: passwd
          MYSQL_DATABASE: arext_test
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping" 
          --health-interval=10s 
          --health-timeout=5s 
          --health-retries=3
      
    strategy:
      matrix:
        ruby-version: 
          - 3.0.0-preview1
          - 2.7
          - 2.5
          - 2.3
        rails-version: 
          - 6_1
          - 6
          - 5_2
        exclude:
          - ruby-version: 2.3
            rails-version: 6_1
          - ruby-version: 2.3
            rails-version: 6
          - ruby-version: 3.0.0-preview1
            rails-version: 5.2
    continue-on-error: ${{ true }}

    steps:
    - name: Verify MariaDB connection
      env:
        DB_PORT: 3306
      run: |
        sudo apt-get install -y mysql-client
        mysql --host 127.0.0.1 --port 3306 -uroot -e 'create user travis;'
        mysql --host 127.0.0.1 --port 3306 -uroot -e 'GRANT ALL PRIVILEGES ON arext_test TO travis;'
        mysql --host 127.0.0.1 --port 3306 -utravis -e "SHOW DATABASES"
    - uses: actions/checkout@v2
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
    # uses: ruby/setup-ruby@v1
      uses: ruby/setup-ruby@21351ecc0a7c196081abca5dc55b08f085efe09a
      with:
        ruby-version: ${{ matrix.ruby-version }}
    - name: Setup gemspec
      if: ${{ matrix.rails-version == '6_1' || matrix.rails-version == '6' }}
      run: cp ./gemspecs/arel_extensions-v2.gemspec ./arel_extensions.gemspec
    - name: Install dependencies
      run: |
        export BUNDLE_GEMFILE=gemfiles/rails${{ matrix.rails-version }}.gemfile
        bundle install
    - name: Run test to_sql
      run: rake test:to_sql
    - name: Run test Postgres
      env:
        PGHOST: localhost
        PGUSER: postgres
      run: rake test:postgresql
    - name: Run test MySql
      env: 
        DB_CONNECTION: mysql
        DB_HOST: 127.0.0.1
        DB_PORT: ${{ job.services.mysql.ports[3306] }}
        DB_DATABASE: arext_test
        DB_USERNAME: travis
      run: |
        rake test:mysql
